*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(to right, rgb(196, 151, 181),rgb(223, 116, 134),rgb(232, 64, 92),rgb(234, 1, 40) );
}
.Student-container{
    width: 500px;
    height: auto;
     background-color: rgb(221, 221, 127);
    margin: 30px 30%;
    padding: 20px;
    border-radius: 20px;
}
input{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.btninput{
    width: 40%;
    margin: 20px;
    border: none;
    background-color: rgb(33, 6, 42);
    height: 50px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.btninput:hover{
    margin-bottom: 20px;
}
.student-data{
    margin-top:50px ;
    width: 80%;
    height: 500px;
    background-color: white;
    margin-left: 10%;
}



/*ecttttt*/
.button 
 {
    padding: 2px 8px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: red;

  
  }
  .button:hover{background-color: #3e8e41}
  .button:active
  {
  	background-color: #3e8e41;
  	box-shadow: 0 5px #666;
  	transform: translate(4px);
  }




  .Student-container{
 
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    border: 5px solid gray;
    animation-name: ams;
    animation-duration: 10s;
    border-radius: 50px;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-qAo2IZB28B6B4VPzvb2ROO7yBzsJv3kfpA&usqp=CAU");*/

}
@keyframes am
{
	from {background-color: red;}
	to {background-color: yellow}
}
@keyframes ams
{
   0% {background-color: red;}
	25% {background-color: yellow;}
	50% {background-color: green;}
	100% {background-color: blue;}
}

